{% extends "Base.html" %} {% block content%} {% for message in
get_flashed_messages() %}
<div
  class="alert alert-success fade show d-flex flex-row justify-content-between"
  role="alert"
>
  Hello {{name}} - {{message}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{%endfor%} {% if name %}
<h1>Hello {{ name }} !</h1>
<br />
<div id="welcome_img"></div>
{% else %}
<h1>What's Your Name?</h1>
<br />
<form method="POST" autocomplete="off">
  {{ form.hidden_tag()}} {{ form.name.label(class="form-label")}} {{
  form.name(class="form-control")}}
  <br />
  {{ form.submit(class="btn btn-secondary")}}
</form>
{% endif %} {% endblock %}
